{
    "plugins": [
        "istanbul",
        "transform-class-properties",
        "transform-object-assign",
        "transform-object-rest-spread"
    ],
    "presets": [
        "es2015"
    ]
}
