{
    "all": false,
    "cache": true,
    "exclude": [
        "**/node_modules/**",
        "coverage/**",
        "dist/**",
        "src/**/*.test.js",
        "src/app/**",
        "src/migrations/**",
        "test/**",
        "webpack/**"
    ],
    "extension": [
        ".js",
        ".vue"
    ],
    "instrument": false,
    "reporter": [
        "lcov",
        "text-summary"
    ],
    "require": [
        "babel-register"
    ],
    "sourceMap": false
}
